@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@font-face {
    font-family: 'Shizuru';
    src: url('assets/fonts/Shizuru-Regular.woff2') format('woff2'),
        url('assets/fonts/Shizuru-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("assets/fonts/Inter-Medium.woff2") format("woff2"),
         url("assets/fonts/Inter-Medium.woff") format("woff");
  }

body{
    /*font-family: 'Shizuru';*/
    font-family: 'Inter';
    font-size: 20pt;
    margin:0px;
    color:rgb(0, 0, 0);
}

.text{
    margin-right:5%;
    margin-top: 5%;
    background-position: center;
}

#box-1{
    width:100vw;
    height:100vh;
    background-attachment: fixed;
    background-image: url("assets/images/bottles-1.jpg");
    background-repeat: no-repeat;
  background-size: auto 100vh;
}

#box-2{
    width:100vw;
    height:100vh;
    background-attachment: fixed;
    background-image: url("assets/images/DifferentPlasticTypes.png");
    background-repeat: no-repeat;
  background-size: auto 100vh;
}

#box-3{
    width:100vw;
    height:100vh;
    background-attachment: fixed;
    background-image: url("assets/images/ftq_3_sep2019_fig1.png");
    background-repeat: no-repeat;
  background-size: auto 90vh;
}

#box-4{
    width:100vw;
    height:100vh;
    background-attachment: fixed;
    background-image: url("assets/images/wene360-fig-0001-m.jpg");
    background-repeat: no-repeat;
  background-size: auto 90vh;
}
#box-5{
    width:100vw;
    height:100vh;
    background-attachment: fixed;
    background-image: url("assets/images/20180303_IRC646.png");
    background-repeat: no-repeat;
  background-size: auto 90vh;
}

#box-6{
    width:100vw;
    height:100vh;
    background-attachment: fixed;
    background-image: url("assets/images/bottles-2.jpg");
    background-repeat: no-repeat;
  background-size: auto 100vh;
}

#top-bar-1{
    position: sticky;
    top:0px;
    text-align: left;
    margin-left: 10px;
}
#top-bar-2{
    position: sticky;
    top:0px;
    font-size: 15pt;
    text-align: right;
    margin-right: 10px;
}

#bottom-bar-1{
    position: sticky;
    bottom:0px;
    font-size: 15pt;
    text-align: right;
    margin-right: 10px;
}
#bottom-bar-2{
    position: sticky;
    bottom:0px;
    font-size: 15pt;
    text-align: right;
    margin-right: 10px;
}
/*
#image1{
width:100vw;
height:auto;
}

#image2{
    width:100vw;
    height:auto;
}

#image3{
    width:100vw;
    height:auto;
}

#image4{
    width:100vw;
    height:auto;
}

#image5{
    width:100vw;
    height:auto;
}

#image6{
    width:100vw;
    height:auto;
}*/